{%extends "_layouts/default.njk"%}
{% block body %}
<div class="content">
<strong>Agendando Horário</strong>
<div class="provider">
<div>
<img src="/files/{{provider.avatar}}" alt="">
<strong>{{provider.name}}</strong>
</div>
</div>
<form action="/app/appointments/new/{{provider.id}}" method="POST">
<input type="text" class="flatpickr" placeholder="Escolha uma data">
<div id="hours">
<label for="">
<input type="radio">12:00
</label>
<label for="">
<input type="radio">14:00
</label>
<label for="">
<input type="radio">16:00
</label>
<button type="submit">Agendar</button>
</form>

</div>
</div>
<script type="text/javascript">
flatpickr('.flatpickr',{
  minDate:new Date(),
  dateFormat:'d/m/Y'
})
</script>
{%endblock%}
